#header, #footer {
    position: relative;
    width: 100%;
    background-color: #999;
}

/*--------------------------------- Login page with register ---------------------------------*/

.navUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navBtn {
  float: left;
}

.navBtn a {
  display: block;
  color: white;
  text-align:
  center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBtn:hover {
  background-color: #111;
}

/*--------------------------------- Login page with register ---------------------------------*/

#loginRegPageBackground {
  height: 100vh;
  width:100%;
  background: #2d715c;
  background-image: url("/images/zenbg-1.png"), url("/images/zenbg-2.png");
  background-repeat: repeat-x, repeat;
}

#loginRegBox {

  width: 300px;
  height: 300px;
  position: absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 25px;
  background: #444c3c;
  background-image: url("/images/zenbg-3.png"), url("/images/zenbg-4.png");
  background-repeat: repeat-x, repeat;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 12px 24px 0 rgba(0,0,0,0.19);
}

.loginRegBtn {
  border-radius: 10px;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.loginRegBtn:hover {
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 12px 24px 0 rgba(0,0,0,0.19);
}

#login, #register, #password {
  width: 100%;
  text-align: center;
  background-color: #d9d9d9;
}

#loginBtn {
  background-color: #0000ff;
  color: white;
}

#registerBtn {
  background-color: #00cc00;
  color: white;
}

/*---------------------------------------- main page -----------------------------------------*/

#mainPageDivBg {
  height: 100vh;
  width:100%;
  background: ##878562;
  background-image: url("/images/zenbg7.png"), url("/images/zenbg8.png");
  background-repeat: repeat-x, repeat;
}

#headerForMain {
  color: white;
  font-size: 36px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#mainPageTextDiv {
  width: 750px;
  height: 450px;
  position: absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 25px;
  color: #bfbfbf;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#mainText {
  font-size: 18px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/*-------------------------------- roundRobin tournament page --------------------------------*/

#roundRobinBg {
  height: 100vh;
  width:100%;
  background: #dbe4e1;
  background-image: url("/images/zenbg5.png"), url("/images/zenbg6.png");
  background-repeat: repeat-x, repeat;
}

#tournamentBtns, #nameUpdate {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#playerInputDiv {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#playerListDiv {
  text-align: center;
  text-shadow: 0 5px 7px 0 rgba(0,0,0,0.24),0 12px 24px 0 rgba(0,0,0,0.19);
  font-size: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.basicBtn {
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.basicBtn:hover {
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 12px 24px 0 rgba(0,0,0,0.19);
}

.boxWrapper{
  width: 39%;
  float: left;
}

#top, #left {
  position: relative;
  width: 100%;
  height: 294px;
  border: 4px double #999;
  border-radius: 16px;
  overflow:scroll;
  margin: 5px;
  background:rgba(255,155,155,0.15);
}

#nameIn {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  width: 50%;
  height: 10%;
  background-color: #e6e6e6;
  padding: 2px;
}

#right {
  display: inline-block;
  float: right;
  width: 59%;
  height: 590px;
  overflow:scroll;
  margin: 8px;
  background:rgba(255,155,155,0.15);
  border: 4px double #999;
  border-radius: 16px;
}

#leftMatches {
  position: relative;
  float: left;
  width: 50%;
  height: 590px;
  padding: 3px;
  border: 4px double #999;
  border-radius: 16px;
  overflow:scroll;
}

#rightMatches {
  display: inline-block;
  float: right;
  width: 50%;
  height: 590px;
  padding: 2px;
  border: 4px double #999;
  border-radius: 16px;
  overflow:scroll;
}

#tournamentName {
  text-align: center;
  font-size: 28px;
  padding: 4px;
  font-weight: bold;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#tournamentTable {
  text-align: center;
  font-size: 14px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#playerInputBtn {
  background-color: #0099e6;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#tournamentInputBtn {
  background-color: #ff751a;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/*-------------------------------- modals and buttons --------------------------------*/

#saveBtn {
  background-color: #002db3;
  color: white;
}

#createBtn {
  background-color: #66ccff;
]  color: black;
}

#updateBtn {
  background-color: #339933;
  color: white;
}

#loadBtn {
  background-color: #cccc00;
  color: white;
}

#deleteBtn {
  background-color: #990000;
  color: white;
}

#cancelBtn {
  background-color: #cc9900;
  color: white;
}

.modal-header{
  font-size: 24px;
  text-align: center;
  background-color: #808080;
}

.modal-body {
  text-align: center;
  background-color: #bfbfbf;
}

.modal-footer {
  background-color: #808080;
}

#tournamentNameIn {
  text-align: center;
}








/* ----- end ----- */

#devPopupPic{
  /*position: absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;*/
  background-image: url("/images/devPopupPic.jpg);
}
