<!DOCTYPE html>
<html>
  <head>
    <title>Nav bar</title>
    <script src="vendors/angular.js"></script>
    <script src="vendors/angular-route.min.js"></script>
    <script src="vendors/ui-bootstrap.js"></script>
    <script src="vendors/ui-bootstrap-tpls.js"></script>
    <script src="scripts/controller.js"></script>

    <link rel="stylesheet" href="vendors/bootstrap.min.css">
    <link rel="stylesheet" href="styling/styles.css">
  </head>
  <body>
    <ul class="navUl">
      <li class="navBtn"><a href="#login">Login</a></li>
      <li class="navBtn"><a href="#main">Main</a></li>
      <li class="navBtn"><a href="#roundRobin">Tournament</a></li>
      <li class="navBtn"><a href="http://amtgard.com/">Amtgard</a></li>
      <li class="navBtn"><a href="http://amtwiki.net/amtwiki/index.php/Main_Page">Amtwiki</a></li>
      <li class="navBtn"><a href="http://amtgard.com/ork/orkui/">ORK3</a></li>
    </ul>
  </body>
</html>
