<div ng-controller="roundRobinController">
  <div class="modal-header">
    <h3 class="modal-title"> Delete Tournament </h3>
  </div> <!-- end modal-header -->

  <div class="modal-body">
    If you delete a tournament, it will be removed forever.<br>
    Choose to delete very carefully!

    <li ng-repeat="tournament in tournamentInfo">
      {{tournament.name}}
      <button class="basicBtn" ng-click="deleteTournament($index)">Delete</button>
    </li>
  </div> <!-- end modal-body -->

  <div class="modal-footer">
    <button class="basicBtn" ng-click="cancel()">Cancel</button>
  </div> <!-- end modal-footer -->
</div> <!-- end playersController -->
