<div class="container-fluid" ng-controller="loginController">
  <div id="headerLogin" class="">
    <h3>LOGIN PAGE</h3>
    <input type="userName" ng-model="userName" id="userName" placeholder=" -- User Name -- "><br>
    <input type="password" ng-model="userPassword" id="password" placeholder=" -- Password -- "><br>
    <button id="loginBtn" ng-click="userLogin()"> LOGIN </button><br><br>
    <button id="registerBtn" ng-click="registerUser()"> Register </button>
  </div> <!-- end headerLogin div -->
</div> <!-- end indexPage controller div -->
