<div class="container-fluid" ng-controller="loginController">
  <div id="headerLogin" class="">
    <h3>LOGIN PAGE</h3>
    <input type="username" ng-model="userName" id="Username" placeholder=" -- Username -- "><br>
    <input type="password" ng-model="userPassword" id="Password" placeholder=" -- Password -- "><br>
    <button id="loginBtn" ng-click="userLogin()"> LOGIN </button><br><br>
    <button id="registerBtn"> Register </button>
  </div> <!-- end headerLogin div -->
</div> <!-- end indexPage controller div -->
