<div class="container-fluid" ng-controller="loginController">
  <div id="headerLogin">
    <h3>LOGIN PAGE</h3>
    <form action="/userLogin" method="post">

      <div>
        <input type="text" name="username" id="username" placeholder=" -- User Name -- "><br>
        <input type="password" name="password" id="password" placeholder=" -- Password -- "><br><br>
        <input type="submit" value=" Login "><br><br>
        <a href="#register">Register</a>
      </div>

    </form>
  </div> <!-- end headerLogin div -->
</div> <!-- end loginController -->
