<!DOCTYPE html>
<html>
  <head>
    <title>main page</title>
  </head>
  <body>
    <div id="mainPageDivBg">
      <div id="mainPageTextDiv">
        <p id="headerForMain">Welcome to the Amtgard "Eventum" page<p><br>

          <p id="mainText"> At it’s core, Amtgard is a Live Action Roleplaying (LARP) and boffer combat society
          focused on the Sword and Sorcery, Medieval and Ancient genres. Amtgard uses safe, foam-padded replicas
          of Medieval weaponry to bring to life the tabletop or video game experience many are familiar with.
          In Amtgard, you don’t just say what you want to do; you do it. You swing the sword or cast the spell.
          You are the adventurer. More than just a sport combat game, the Amtgard Rules of Play include complete
          rules for classes, leveling, magic and special abilities. Weekly participation in games allows you to
          advance in a class, unlocking levels and new powers.</p><br>

          <p id="mainText">Amtgard Eventum is an application designed to assit event organizers with running and
          organizing events for Amtgard and the LARP'ing community. Here, organizers will be able to coordinate
          tournament activities, plan events, and design battle games. By making a more stream-lined, user-friendly
          application, event organizers will able to focus on creating new and exciting events.</p>

      </div> <!-- mainPageText -->
    </div> <!-- mainPageDivBg -->
  </body>
</html>
