<div ng-controller="roundRobinController">
  <div class="modal-header">
    <h3 class="modal-title"> Tournament </h3>
  </div> <!-- end modal-header -->

  <div class="modal-body">
    <input type="text" id="tournamentNameIn" ng-model="tournamentNameInput" placeholder=" -- Name -- "><br>
  </div> <!-- end modal-body -->

  <div class="modal-footer">
    <button class="saveTournamentBtn btn-primary" type="button" ng-click="saveTournamentName()"> Save </button>
    <button class="cancelUpdateBtn btn-warning" type="button" ng-click="cancel()"> Cancel </button>
  </div> <!-- end modal-footer -->
</div> <!-- end playersController -->
