<div class="container-fluid" ng-controller="playersController">
  <h3>Player Input Page</h3>

    <div id="inputPlayerDiv">
      <input type="text" id="nameIn" ng-model="nameInput" placeholder=" -- Name -- "><br>
      <select ng-model="classInput" ng-options="class for class in classTypes">
        <option value=''> -- Class -- </option>
      </select><br>
      <select ng-model="levelInput" ng-options="levels for levels in levelNum">
        <option value=''> -- Level -- </option>
      </select><br>
      <select ng-model="armorInput" ng-options="armor for armor in armorNum">
        <option value=''> -- Armor -- </option>
      </select><br>
      <select ng-model="shieldInput" ng-options="shield for shield in shieldCheck">
        <option value=''> -- Shield -- </option>
      </select><br><br>
    </div> <!-- end inputPlayer div -->

    <button id="addPlayerBtn" ng-click="addPlayer()"> Add Player </button>
    <button id="getPlayersBtn" ng-click="displayPlayers()"> Display Players </button>
    <button id="randomPlayerBtn" ng-click="randomPlayer()"> Random Player </button><br><br>

    <div ng-repeat="players in playersArray">
      <li>
        NAME: {{players.name}}
        CLASS: {{players.class}}
        LEVEL: {{players.level}}
        ARMOR: {{players.armor}}
        SHIELD: {{players.shield}}
        <button id="deleteBtn" ng-click="deletePlayer($index)">DELETE</button>
        <button id="updatePlayerBtn" ng-click="openUpdate($index)"> UPDATE </button><br><br>
      </li>
    </div> <!-- end ng-repeat -->


</div> <!-- end playersController div
