<div class="container-fluid" ng-controller="registerController">
  <div id="headerRegister" class="">
    <h3>REGISTER PAGE</h3>
    <form action="/registerUser" method="post">

      <div>
        <input type="text" name="username" id="username" placeholder=" -- User Name -- "><br>
        <input type="password" name="password" id="password" placeholder=" -- Password -- "><br><br>
        <input type="submit" value=" Register "><br><br>
        <a href="#login">Login</a>
      </div>

    </form>
  </div> <!-- end headerLogin div -->
</div> <!-- end registerController -->


<!-- <input type="password" ng-model="confirmPassword" id="confirmPassword" placeholder=" Confirm Password "> -->
