<div class="container-fluid" ng-controller="roundRobinController">

  <h3> Round robin page </h3>

  <button id="roundRobinBtn" ng-click="roundRobin()"> Create New Tournament </button>
  <button id="getByePlayerBtn" ng-click="getByePlayer()"> Add 'BYE' Player </button><br>
  <button id="saveTournamentBtn" ng-click="saveTourneyPopup()"> Save Tournament </button>
  <button id="getTournamentBtn" ng-click="loadTournamentPopup()"> Load Tournament </button>
  <button id="deleteTournamentBtn" ng-click="deleteTourneyPopup()"> Delete Tournament </button><br><br>

  <table>
    <tr ng-repeat="players in playersArray">
      <td>NAME: {{players.name}}</td>
    </tr>
  </table><br>

  <div id="tournamentTable">
    <div id="tournamentName"> {{tournamentName}} </div><br>
    <table>
      <tr ng-repeat="player in competitors">
        <td>
          Player: {{player.competitor}}
          Wins: {{player.competitorInfo.wins}}
          Losses: {{player.competitorInfo.losses}}
          Points: {{player.competitorInfo.points}}
        </td>
      </tr>
    </table>
  </div><br>

  <table>
    <tr ng-repeat="contestant in tournament" >
      <td>{{ contestant.playerOne }}</td>
      <td>
        <select ng-model="resultInputOne"
        ng-change="updateRecord(contestant.playerOne, contestant.playerTwo, contestant.roundNum, resultInputOne)">
          <option ng-repeat="option in resultCheck.options" value="{{option.point}}"> {{option.select}} </option>
      </td>
      <td>{{ contestant.playerTwo }}</td>
      <td>
        <select ng-model="resultInputTwo"
        ng-change="updateRecord(contestant.playerTwo, contestant.playerOne, contestant.roundNum, resultInputTwo)">
          <option ng-repeat="option in resultCheck.options" value="{{option.point}}"> {{option.select}} </option>
      </td>
    </tr> <!--  -->
  </table><br>
