<div class="container-fluid" ng-controller="roundRobinController"><br>

  <div id="header">
    <button class="basicBtn" ng-click="randomPlayer()"> Random Player </button>
    <button class="basicBtn" ng-click="getByePlayer()"> Add 'BYE' Player </button><br><br>
    <!-- <button id="generateTeamsBtn" ng-click=openTeamsModal()> Create Teams </button><br> -->
  </div> <!-- end header div -->

<div class="boxWrapper">
  <div id="top">
    <div id="playerInputDiv">
      <input type="text" id="nameIn" ng-model="nameInput" placeholder=" - Name - ">
      <select ng-model="classInput" ng-options="class for class in classTypes">
        <option id="classInputBtn" value=''>- Class -</option>
      </select>
      <select id="addPlayerBtn" ng-model="levelInput" ng-options="levels for levels in levelNum">
        <option id="levelInputBtn" value=''>- Level -</option>
      </select>
      <button class="basicBtn" ng-click="addPlayer()">Create Player</button>
    </div>
    <div ng-repeat="players in playersArray">
          NAME: {{players.name}}
          CLASS: {{players.class}}
          LEVEL: {{players.level}}
          <div class="playerBtns">
            <button class="basicBtn" ng-click="openUpdate($index)">UPDATE: {{players.name}}</button>
            <button class="basicBtn" ng-click="deletePlayer($index)">DELETE: {{players.name}}</button><br>
          </div>
    </div> <!-- end ng-repeat -->
  </div> <!-- end top view -->

  <div id="left">
    <div id="tournamentBtns">
      <button class="basicBtn" ng-click="roundRobin()"> Create New Tournament </button>
      <button class="basicBtn" ng-click="saveTourneyPopup()"> Save Tournament </button>
      <button class="basicBtn" ng-click="loadTournamentPopup()"> Load Tournament </button>
      <button class="basicBtn" ng-click="deleteTourneyPopup()"> Delete Tournament </button><br><br>
    </div>
    <div id="tournamentName"> {{tournamentName}} </div><br>
    <div id="tournamentTable">
      <table>
        <tr ng-repeat="player in competitors">
          <td>
            Player: {{player.competitor }}
            Wins: {{player.competitorInfo.wins }}
            Losses: {{player.competitorInfo.losses }}
            Points: {{player.competitorInfo.points }}
          </td>
        </tr>
      </table>
    </div><br>
  </div> <!-- end left view -->
</div> <!-- end boxWrapper -->


  <div id="right">
    <table>
      <tr ng-repeat= "contestant in tournament ">
        <td class="playerOneCell">{{contestant.roundNum}}: {{ contestant.playerOne }}</td>
        <td class="playerOneCell">
          <select ng-model="resultInputOne"
          ng-change="updateRecord(contestant.playerOne, contestant.playerTwo, contestant.roundNum, resultInputOne)">
            <option ng-repeat="option in resultCheck.options" value="{{option.point}}"> {{option.select}} </option>
        </td>
        <td class="playerTwoCell">{{ contestant.playerTwo }}</td>
        <td class="playerTwoCell">
          <select ng-model="resultInputTwo"
          ng-change="updateRecord(contestant.playerTwo, contestant.playerOne, contestant.roundNum, resultInputTwo)">
            <option ng-repeat="option in resultCheck.options" value="{{option.point}}"> {{option.select}} </option>
        </td><br>
      </tr>
    </table>
  </div> <!-- end right view -->
