<div ng-controller="roundRobinController">
  <div class="modal-header">
    <h3 class="modal-title"> Tournament </h3>
  </div> <!-- end modal-header -->

  <div class="modal-body">
    maybe some stuff goes here?
  </div> <!-- end modal-body -->

  <div class="modal-footer">
    <button class="saveTournamentBtn btn-primary" type="button" ng-click="saveTournament()"> Save Tournament </button>
    <button class="deleteTournamentBtn btn-danger" type="button" ng-click="deleteTournament()"> Delete Tournament </button>
    <button class="cancelUpdateBtn btn-warning" type="button" ng-click="cancel()"> Cancel </button>
  </div> <!-- end modal-footer -->
</div> <!-- end playersController -->
