<div ng-controller="roundRobinController">
  <div class="modal-header">
    <h3 class="modal-title">Update Player Info</h3>
  </div> <!-- end modal-header -->

  <div class="modal-body">
    <div id="updatePlayerDiv">
      <input type="text" id="nameUpdate" ng-model="nameUpdate"><br>
      <select ng-model="classUpdate" ng-options="class for class in classTypes">
        <option value=''> {{playersArray[id].class}} </option>
      </select><br>
      <select ng-model="levelUpdate" ng-options="levels for levels in levelNum">
        <option value=''>Level: {{playersArray[id].level}} </option>
      </select><br>
    </div> <!-- end updatePlayer div -->
  </div> <!-- end modal-body -->

  <div class="modal-footer">
    <button class="basicBtn" id="updateBtn" ng-click="updatePlayer(id)"> Update Player </button>
    <button class="basicBtn" id="cancelBtn" ng-click="cancel()"> Cancel </button>
  </div> <!-- end modal-footer -->
</div> <!-- end playersController -->
